* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #dda78ecd;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #743c22cd;
    color: #fff;
    text-align: center;
    padding: 80px 0;
    box-shadow: 0rem 1rem 3rem #743c22cd;
    text-shadow: 0rem 1rem 1rem #582913cd;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: fantasy;
}

header p {
    font-size: 1.5em;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: georgia;
    text-shadow: 0rem 1rem 1rem #743c22cd;
}


.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: .8rem .8rem 0.3rem #743c22cd;
    border-radius: 8px;
}

#first, #second, #third, #fourth{
    position: relative;
}



#first::before{
    content: '';
    background: url(local-lore.jpg) no-repeat center center;
    background-size: cover;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

#second::before{
    content: '';
    background: url(movie.png) no-repeat center center;
    background-size: cover;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

#third::before{
    content: '';
    background: url(portfolio.png) no-repeat center center;
    background-size: cover;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

#fourth::before{
    content: '';
    background: url(calculator.png) no-repeat center center;
    background-size: cover;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.project p{
    padding-top: 5rem;
    visibility:hidden;
    color: #fff;
    text-shadow: 0rem .5rem .2rem #743c22cd;
}

.project:hover p{
    visibility: visible;
}

h3{
    font-size: 1.5rem;
    font-family: fantasy;
    color: #fff;
    text-shadow: 0rem .5rem .3rem #743c22cd;
}

.container-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.container-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: flex-start;
}

a{
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    flex-grow: 2;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #582913cd;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #743c22cd;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #743c22cd;
    color: #fff;
    box-shadow: 0rem -1rem 3rem #743c22cd;
}

