* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #dda78ecd;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #743c22cd;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    box-shadow: 0rem 1rem 3rem #743c22cd;
    text-shadow: 0rem 1rem 1rem #582913cd;
}

.nav-bar{
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 13rem;
    margin-top: 1rem;
}

.nav-bar a {
    color: inherit;
    margin-right: 5rem;
    position: relative;
    text-decoration: none; 
    transition: color 0.3s, text-decoration-color 0.3s; 
}

.nav-bar a:hover {
    color: #582913cd;
}

.nav-bar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    bottom: -8px;
    left: 0;
    background-color: #fff; 
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-bar a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}



header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: fantasy;
    margin-top: 3rem;
}

header p {
    font-size: 1.5em;
    margin-bottom: 3rem;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: georgia;
    text-shadow: 0rem 1rem 1rem #743c22cd;
}


.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: .8rem .8rem 0.3rem #743c22cd;
    border-radius: 8px;
}

#first, #second, #third, #fourth{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



#first::before{
    content: '';
    background: url(local-lore.jpg) no-repeat center center;
    background-size: cover;
    opacity: .7;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

#second::before{
    content: '';
    background: url(movie.png) no-repeat center center;
    background-size: cover;
    opacity: .7;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

#third::before{
    content: '';
    background: url(portfolio.png) no-repeat center center;
    background-size: cover;
    opacity: .7;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

#fourth::before{
    content: '';
    background: url(calculator.png) no-repeat center center;
    background-size: cover;
    opacity: .7;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.project button{
    padding: 4px 14px;
    border: none;
    border-radius: 5px;
    background-color: #743c22cd;
    visibility: hidden;
    margin-top: 5rem;
}

.project a{
    color: #ccc;
    text-decoration: none;
    font-size: 20px;
}


.project:hover button{
    visibility: visible;
}

.project button:hover{
    background-color: #000;
    color: #fff;
}

h3{
    font-size: 1.5rem;
    font-family: fantasy;
    color: #fff;
    text-shadow: 0rem .5rem .3rem #743c22cd;
}

.container-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}



.container-education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10rem;
    margin-top: 5rem;
}

.ed{
    margin-bottom: 1rem;
    padding: 1rem;
    border-left: 2px solid #582913cd;
    border-bottom-left-radius: 2rem;
}

span{
    color: #743c22cd;
    text-transform: capitalize;
}

.ed p{
    color: #333;
}

.container-skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#connect a:hover,
#connect span:hover{
    color: #fff;
    text-shadow: 0rem 1rem 0.8rem #fff;
}

















































.container-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact i{
    margin-right: 10px;
}

a{
    color: #333;
    text-decoration: none;
}

form {
    max-width: 600px;
    margin: 0 auto;
    flex-grow: 2;
    background-color: #dda78ecd;
    padding: .5rem;
    border-radius: 4px;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

form input,
form textarea,
form button{
    border-radius: 4px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #582913cd;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #743c22cd;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #743c22cd;
    color: #fff;
    box-shadow: 0rem -1rem 3rem #743c22cd;
}





@media (max-width: 1020px){
    .nav-bar{
        margin-left: 5rem;
    }
    .nav-bar a{
        margin-right: 5rem;
    }
}



@media (max-width: 500px) {
    .nav-bar{
        margin-left: 3rem;
    }
    .nav-bar a{
        margin-right: 2rem;
    }

    .container-skills{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.2rem;
    }

    .container-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contact{
        margin: 5rem 6rem;
    }

}

